<div class="message" *ngIf="this.load">
  <div class="loading loading--full-height"></div>
  <div class="id_message">Guardando...</div>
</div>
<div class="img">
    <div id="img"  class="imgC" [ngStyle]="{'background-image': 'url(' + uploadURL +')'}">

    </div>
</div>
<div class="prog" *ngIf="prog">

  <div class="up">
    <h1>Subiendo imagen...</h1>
  </div>
  <div class="down">

    <div class="bar">
      <div class="barprog"  [ngStyle]="{width: num}"></div>
    </div>

  </div>

</div>

<div class="contenedor">
    <div class="contenedor_formulario">
      <main>
        <form class="formulario" [formGroup]="RegistroFormGrup" (ngSubmit)="AddBook(RegistroFormGrup)">
          
         
    
          <div class="formulario__grupo">
            <label for="LastName" class="formulario__label">Descripción</label>
            <div class="formulario__grupo-input">
              <input type="text" formControlName="Editorial" class="formulario__input" placeholder="">
            </div>
            <div class="alert alert-danger" *ngIf="form.Editorial.invalid && (form.Editorial.dirty || form.Editorial.touched)">
              <div class="container-error-message" *ngIf="form.Editorial.errors?.required">
                El campo  es requerido
              </div>
             
            </div>
          </div>
    
          <div class="formulario__grupo">
            <label for="LastName" class="formulario__label">Marca</label>
            <div class="formulario__grupo-input">
              <input type="text" formControlName="Autor" class="formulario__input" placeholder="">
            </div>
            <div class="alert alert-danger" *ngIf="form.Autor.invalid && (form.Autor.dirty || form.Autor.touched)">
              <div class="container-error-message" *ngIf="form.Autor.errors?.required">
                El campo  es requerido
              </div>
           
            </div>
          </div>
    
          <div class="formulario__grupo">
            <label for="Address" class="formulario__label">Clave del producto</label>
            <div class="formulario__grupo-input">
              <input maxlength="50" type="text" class="formulario__input" formControlName="Clave" placeholder="">
            </div>
            <div class="alert alert-danger" *ngIf="form.Clave.invalid && (form.Clave.dirty || form.Clave.touched)">
              <div class="container-error-message" *ngIf="form.Clave.errors?.required">
                El campo  es requerido
              </div>
          
            </div>
          </div>
   <div class="row ">
<div class="col-6">
  <div class="formulario__grupo">
    <label for="Address" class="formulario__label">Precio</label>
    <div class="formulario__grupo-input">
      <input type="number" class="formulario__input" formControlName="Precio" placeholder="">
    </div>

  </div>
</div>
<div class="col-6">
  <div class="formulario__grupo">
    <label for="Address" class="formulario__label">Unidades</label>
    <div class="formulario__grupo-input">
      <input type="number" class="formulario__input" formControlName="disp" placeholder="">
    </div>

  </div>
</div>
<div class="row">&nbsp;</div>
   </div>
      

         

         
    
          
          <h1 class="is-size-1" style="color: aliceblue;">Subir archivos</h1>
      <p class="download">URL de descarga: <a href="#" target="_blank">Descargar</a></p>
      <form>
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input type="file" (change)="upload($event)" formControlName="ruta" accept="image/*">            <span class="file-cta">
              <span class="file-label">
                Elegir un archivo…
              </span>
            </span>
          
          </label>
        </div>
        <hr>
      </form>
    
                <div class="formulario__grupo" style="margin-bottom: 30px;">
                    <div class="formulario__grupo-btn-regresar">
                        <button type="submit" class="formulario__btn" [disabled]="!RegistroFormGrup.valid && !img">Registrar</button>
                    </div>
          </div>
    
                <div class="formulario__grupo">
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="button" (click)="Regresar()"  class="formulario__btn" >Regresar</button>
                    </div>
          </div>
    
        </form>
      </main>
    
      
    </div>
  </div>
