body {
    background-image: url('https://media.istockphoto.com/vectors/fruit-and-berry-background-abstract-food-seamless-pattern-fresh-vector-id1194235751');
    background-repeat: no-repeat; background-size: cover;

    opacity: 0.8;
    filter: alpha(opacity=50);
}



.titulo{
    margin-top: 12%;
 font-size: 3.5rem;
 color: #000000;
 font-weight: bold;
 
}
.Letter{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}