<body>
    <div class="container p-4">
        <div class="container">
                <h1 class="titulo">GreenFood</h1>
                <div class="Letter">
                    <br/>
                    <p>¡Bienvenido a GreenFood en donde encontraras los productos que necesites</p>
                    <br/>
                    <p>Encontrars todo lo necesario para tu despensa y podras comprar cualquier producto y recibirlo en la comunidad de tu casa.</p>
              </div>
              <div>
                  <a href="/home" class="btn btn-success btn-lg" style="float: right;">
                ¡Explorar GreenFood!
            </a></div>
            </div>
    </div>
</body>